<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <div id="game">
      <section id="monster" class="container">
        <h2>Monster Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="monsterProgressBar"></div>
        </div>
      </section>
      <section id="player" class="container">
        <h2>Your Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="playerProgressBar"></div>
        </div>
      </section>
      <section class="container" v-if="winner">
        <h2>Game over</h2>
        <h3 v-if="winner === 'monster'">You lost!</h3>
        <h3 v-else-if="winner === 'player'">You win!</h3>
        <h3 v-else>It's a draw</h3>
        <button @click="startGame">Start Over</button>
      </section>
      <section id="controls" v-if="!winner">
        <button @click="attackMonster">ATTACK</button>
        <button @click="specialAttack" :disabled="disableAttack">SPECIAL ATTACK</button>
        <button @click="healPlayer">HEAL</button>
        <button @click="surrenderPlayer">SURRENDER</button>
      </section>
      <section id="log" class="container">
        <h2>Battle Log</h2>
        <ul v-for="message in logMessages">
          <li>
            <span :class="{'log--player': message.actionBy === 'player', 'log--monster': message.actionBy === 'monster'}">{{ message.actionBy === 'player' ? 'Player' : 'Monster' }}</span>
            <span v-if="message.actionType === 'heal'"> heal himself for <span class="log--heal">{{ message.actionValue }}</span></span>
            <span v-else>
              attacks and deals <span class="log--damage">{{ message.actionValue }}</span></span>
            </span>
          </li>
        </ul>
      </section>
    </div>
  </body>
</html>
